body{

background-color:#000000;
}
body, table, td, div{
font-family:"OCR A Extended", "Courier", sans-serif;
font-size:10pt;
}
.entries{
width:500;
margin-bottom:20px;
}
.entries td{
padding:8px;
}
.entries td.nopad{
padding:0;
}
.altposter{
background:#000000;
border:solid 2px #660000;
border-bottom:0;
font-weight:bold;
text-align:left;
color:#d1001d;
}
.metabox{
background:#000000;
width:50%;
border:solid 2px #660000;
font-weight:bold;
color:#d1001d;
text-align:left;
}
.necorn{
background:#000000;
text-align:right;
font-style:italic;
border-right:solid 2px #660000;
border-top:solid 2px #660000;
color:#d1001d;
}
.sidepad{
width:5%
}
.entrybox{
background:#000000;
width:90%;
border-right:solid 2px #660000;
border-left:solid 2px #660000;
color:#d1001d;
text-align:left;
}
.currbox{
width:30%;
background:#000000;
border:solid 2px #660000;
margin:3px;
float:right;
color:#d1001d;
text-align:left;
}
.swcorn{
background:#000000;
border-left:solid 2px #660000;
border-bottom:solid 2px #660000;
color:#d1001d;
text-align:left;
}
a{
text-decoration:none;
}
a:link, a:hover{
color:#d1001d;
}
a:visited{
color:#d1001d;
}
a img{
border:0;
}
a:hover, .entrybox a:hover, a:active{
color:#cd0719;
text-decoration:underline;
}
#secorn{
background:#000000;
border-right:solid 2px #660000;
border-bottom:solid 2px #660000;
width:40%;
color:#d1001d;
}
#navlink, #skiplink{
text-align:right;
width:60%;
}
.nav{
background:#000000;
border:solid 2px #660000;
border-bottom:0;
text-align:left;
color:#d1001d;
}
